In [4]:
'''
=================================================
Milestone 3

Nama  : Mirza Rendra Sjarief
Batch : CODA-001-RMT

Program ini dibuat untuk melakukan automasi validator dengan Great Expectation, 
mengacu pada dataset Us Store Sales selama periode tahun 2010 - 2011 yang sudah melalui proses transform menggunakan PysPark.
Serta menentukan nama aturan validasi yang akan diterapkan pada data.
=================================================
'''

'\n=================================================\nMilestone 3\n\nNama  : Mirza Rendra Sjarief\nBatch : CODA-001-RMT\n\nProgram ini dibuat untuk melakukan automasi validator dengan Great Expectation, \nmengacu pada dataset Us Store Sales selama periode tahun 2010 - 2011 yang sudah melalui proses transform menggunakan PysPark.\nSerta menentukan nama aturan validasi yang akan diterapkan pada data.\n=================================================\n'

## Data Validation With Great Expectation

In [3]:
!pip install -q "great-expectations==0.18.19"

/opt/miniconda3/envs/friday/lib/python3.12/pty.py:95: DeprecationWarning: This process (pid=30018) is multi-threaded, use of forkpty() may lead to deadlocks in the child.
  pid, fd = os.forkpty()

In [1]:
# import the necessary libraries 

from great_expectations.data_context import FileDataContext
# Create a data context

context = FileDataContext.create(project_root_dir='./')


- Mengimport FileDataContext, yaitu interface utama untuk mengelola konfigurasi, data, dan validasi menggunakan Great Expectations.

- Membuat context Great Expectations baru di lokasi direktori kerja saat ini.

In [2]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'csv-us-store-sales'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'store-sales-2010-2011'
path_to_data = '/Users/mac/Documents/Hacktiv8/M3/p2-coda001-rmt-m3-mirzasjarief/P2M3_Mirza_Sjarief_data_clean.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

- asset_name adalah nama unik untuk aset data yang didefinisikan di dalam Datasource.
- path_to_data adalah path ke file CSV (sale_clean.csv) yang akan digunakan sebagai sumber data.
- add_csv_asset menghubungkan file CSV ke Datasource Pandas yang telah didefinisikan.
- Batch Request adalah cara Great Expectations memuat data tertentu dari aset data, dalam konteks ini, semua data dari file CSV akan dimuat untuk divalidasi.

In [3]:
# Creat an expectation suite
expectation_suite_name = 'expectation-sales'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,state,market,market_size,sales,cogs,total_expenses,marketing,inventory,budget_profit,budget_cogs,budget_margin,budget_sales,product_id,date,product_type,type,purchased_id
0,connecticut,east,small market,292.0,116.0,69.0,38.0,962.0,110.0,110.0,160.0,270.0,2,2010-01-04,coffee,regular,491458380
1,connecticut,east,small market,225.0,90.0,60.0,29.0,1148.0,90.0,80.0,130.0,210.0,2,2010-01-07,coffee,regular,1738729669
2,connecticut,east,small market,325.0,130.0,73.0,42.0,1134.0,130.0,110.0,180.0,290.0,2,2010-01-11,coffee,regular,1041025097
3,connecticut,east,small market,289.0,115.0,69.0,37.0,1166.0,110.0,100.0,160.0,260.0,2,2010-01-12,coffee,regular,366943985
4,connecticut,east,small market,223.0,90.0,56.0,29.0,1148.0,90.0,80.0,130.0,210.0,2,2011-01-07,coffee,regular,1130897045

- Expectation Suite adalah kumpulan aturan (expectations) yang mendefinisikan standar kualitas data. Contohnya: kolom tidak boleh memiliki nilai null, rentang nilai tertentu, atau format tertentu.

- Membuat Validator untuk menggabungkan data (Batch) dengan Expectation Suite, mengacu pada data yang ingin divalidasi (yang telah dibuat sebelumnya).Serta menentukan nama aturan validasi yang akan diterapkan pada data.

- Melihat beberapa baris pertama data yang dimuat ke dalam validator.

In [4]:
# Expectation 1 : Column `purchased_id` must be unique

validator.expect_column_values_to_be_unique('purchased_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

- Expectation 1 : Column **purchased_id** harus memiliki unique value

In [37]:
# Expectation 2: Column `inventory` must contain minimum and max value between : 0 - 8252

validator.expect_column_values_to_be_between(
    column='inventory', min_value=0, max_value=8252
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

- Expectation 2 : Column **inventory** harus memiliki value diantara min 0 dan max 8252

In [38]:
# Expectation 3 : Column `product_type` must contain one of the following 5 things :
# 1 = coffee
# 2 = tea
# 3 = espresso
# 4 = herbal
# 5 = tea


validator.expect_column_values_to_be_in_set('product_type', ['coffee','tea','espresso','herbal tea'])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

- Expectation 3 : Column **product_type** harus terdiri dari 5 kategori barang ini : 1 = coffee, 2 = tea, 3 = espresso, 4 = herbal, 5 = tea

In [39]:
# Expectation 4 : Column `inventory` must in form of integer or float

validator.expect_column_values_to_be_in_type_list('inventory', ['integer', 'float'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

- Expectation 4 : Column **inventory** harus memiliki tipe data integer atau folat

In [40]:
# Expectation 5 : Column `state` must contain proportion of unique value between 0 - 20 :

validator.expect_column_proportion_of_unique_values_to_be_between(
    column='state', min_value=0, max_value=20
)

Calculating Metrics:   0%|          | 0/7 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 0.004708097928436911
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

- Expectation 5 : Column **state** harus memiliki proporsi unique value sebanyak 0 hingga 20

In [41]:
# Expectation 6 : Column `sales` must contain std devation between : 150$ - 200$


validator.expect_column_stdev_to_be_between(
    column='sales', min_value=151, max_value=200
)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 151.13312713911552
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

- Expectation 6 : Column **sales** harus memiliki std deviation diantara 150$ - 200$

In [42]:
# Expectation 7 : For consistency and validating after dropping or adding a new table , table must contain 17 columns

validator.expect_table_column_count_to_equal (17)

Calculating Metrics:   0%|          | 0/3 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 17
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

- Expectation 7 : Untuk memastikan konsistensi data, setelah adanya penghapusan dan penambahan column, total akhir column pada table ini haruslah memiliki total sebanyak 17 column.

In [43]:
# Save into Expectation Suite

validator.save_expectation_suite(discard_failed_expectations=False)

- Kode berikut digunakan untuk menyimpan Expectation Suite dalam proyek Great Expectations.

In [44]:
# Create a checkpoint

checkpoint_1 = context.add_or_update_checkpoint(
    name = 'checkpoint_1',
    validator = validator,
)

- Code ini membuat atau memperbarui sebuah Checkpoint, juga menyimpan hasil validasi untuk ditinjau.

In [45]:
# Run a checkpoint

checkpoint_result = checkpoint_1.run()

Calculating Metrics:   0%|          | 0/30 [00:00<?, ?it/s]

- Menjalankan hasil checkpoint, hasil ini mencakup informasi penting tentang apakah data memenuhi aturan (expectations) yang telah ditentukan.